<div class="col-xs-8 col-xs-offset-2">
  <form action="/answer" class="form-horizontal" method="GET">
    <div class="form-group form-group-lg">
      <label for="question" class="control-label sr-only">Ask me anything</label>
      <div class="col-xs-12 col-sm-9">
        <input type="text" class="form-control" id="question" name="q" placeholder="Ask me anything…">
      </div>

      <div class="col-xs-12 col-sm-3">
        <input type="submit" class="btn btn-lg btn-primary col-xs-12" value="Go on!">
      </div>
    </div>
  </form>
</div>
